.side-bar-tabs {
	display: flex;
	position: relative;
	align-items: stretch;
	left: 0;
	top: 0;
	height: 39px;
	width: 100%;
	border-bottom: 1px solid #8e939a;
	z-index: 99;
	background-color: #F9FAF8;
}

.sidebar {
	display: inline-block;
	position: absolute;
	left: -330px;
	top: 0px;
	height: calc(100vh - 75px);
	width: 330px;
	border-right: 1px solid #8e939a;
	background-color: #F9FAF8;
	z-index: 97;
	overflow-y: scroll;
	transform: translateX(330px);
}

.stage {
	display: inline-block;
	position: relative;
	left: 0;
	top: 40px;
	height: auto;
	width: calc(100% - 330px);
	padding-left: 331px;
}
.control-bar-container {
	height: 75px;
    width: 100%;
    transition: transform .19s ease;
    transform: translateY(0);
    position: fixed;
    bottom: 0;
    z-index: 97;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.control-bar {
	display: flex;
	position: absolute;
	height: 75px;
	width: 100%;
	background-color: #F9FAF8;
}

.header-sidebar-btn {
	display: block;
    height: 100%;
    width: 100px;
    margin: 0;
    float: left;
    padding: 10px 20px 0 20px;
    cursor: pointer;
}
