body {
  display: block;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1E2835;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
